

<br />
<br />

<div class="bg-danger" style="padding:2em 0;">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>WARNING</h3>
                </div>
                <div class="col-md-8"><b class="lead">
                    This page is currently under construction.  Note that some parts may be incomplete, and there will be occasional broken links.  Wherever possible, a link to cached content from the previous version of this website will be provided.<br /><br />Thank you for your patience during this time.
               </b> </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                {{ range sort .Site.Data.features "weight" }}
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3>{{ .name }}</h3>
                        <div style="font-size:110%;">
                            {{ .description | safeHTML }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
